{% extends 'base.html' %}

{% load bootstrap4 %}
{% load static %}


{% block content%}
{% include 'navbar.html' %}  
<div class="container-fluid mt-3" >



    <div class="row">

        {% for hood in hoods %}
        <div class="col-md-6">  
            <div class="card mb-4 mx-3 d-flex flex-row" style="min-height:300px; border: none;">
                <div class="hood-info">
                    <h5 class="card-title" style="color: #57652a">{{hood.name}}, {{hood.located}}</h5>
                    <p class="mb-2">{{hood.occupants_count}} Residents{{hood.members.count|pluralize}}</p>
                    <p class="card-text">{{hood.description}}</p> 
                    
                    
                    {% if request.user.profile.hood == hood %}
                    <a href="{% url 'leave-hood' hood.id %}" class="btn btn-sm" style="background-color: #ff0000; color: #ffffff;">Leave Hood</a>
                    {% elif not request.user.profile.hood %} 
                    <a href="{% url 'join-hood' hood.id %}" class="btn btn-sm" style="background-color: #45af2a;; color: #ffffff;">Join Hood</a>
                    {% endif %} 
                </div>

                <div class="hood-image">
                    <img src="{{hood.hood_image.url}}" class="card-img-top" alt="{{hood.name}}" style="min-height: 350px; width: 400px;"> 
                </div>
            </div>
        </div>
        {% endfor %} 

    </div>



</div>
{% endblock %} 