<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <div class="container-fluid">
        <div class="hoods">
            {% for hood in hoods %}
            <p>{{hood.name}}</p>  
            <p>{{hood.located}}</p>
            <p>{{hood.occupants_count}}</p>
            <p>{{hood.description}}</p> 
            <p>{{hood.hood_image.url}}</p> 
            <p>{{hood.police_contact}}</p> 
            <p>{{hood.health_dept_contact}}</p> 
            <p>Neighborhood Admin: {{hood.hood_admin}}</p> 
            <p>{{hood.since|timesince}} Ago</p>  
            <hr>
            <br> 
            <br>

            {% endfor %}
        </div>
    </div>
</head>
<body>
    
</body>
</html>