{% extends 'base.html' %}

{% load bootstrap4 %}
{% load static %}

{% block content%}
{% include 'navbar.html' %}   
<table class="table table-striped table-light">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">ID Number</th>
        <th scope="col">Location</th>
        <th scope="col">Member since</th>
        <th scope="col">Profession</th>
        <th scope="col">Contact</th>
        </tr>
    </thead>
    <tbody>

    {% for resident in residents %}
        <tr>
        <th scope="row">*</th>
        <td>{{resident.full_name }}</td>
        <td>{{resident.id_number}}</td>
        <td>{{resident.hood}}</td>
        <td>{{resident.created}}</td> 
        <td>{{resident.profession}}</td>
        <td>{{resident.contact}}</td>  
        </tr>
    {% endfor %}
    
    </tbody>
</table>
{% endblock %}