{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}



{% block content%}
{% include 'navbar.html' %}   
{% load crispy_forms_tags %} 
<div class="container mt-1">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="{{hood.hood_image.url }}" class="card-img" alt="hood image">
                    </div>

                    <div class="col-md-7">
                        <div class="card-body">
                            <span class="badge" style="margin-right: 40px; padding: 10px; font-size: large; background-color: #57652a;">{{hood.name}}</span>
                            <h5 class="card-title tt" style="margin-bottom: 10px; margin-top: 10px;">{{hood.located}}</h5>
                            <h6 class="card-text">
                                <span><strong>{{hood.residents.count}}</strong> Resident{{hood.residents.count|pluralize}}</span> | <strong>{{hood.business.count}}</strong> Businesses | <strong>{{hood.hood_updates.count}}</strong> News Update{{hood.hood_updates.count|pluralize}} 
                            </h6>
                            <p class="card-text">{{hood.description}}</p>
                            <p class="card-text"><span class="police-contact" style="color: #45af2a;">Police Contact: </span>&nbsp;<strong>{{hood.police_contact}}</strong> | <span class="health-dept-contact" style="color: #45af2a;;">Health Department Contact: </span> <strong>{{hood.health_dept_contact}}</strong></p>
                            <p class="card-text">Hood Administrator: <small class="text-muted">{{hood.hood_admin.full_name}}</small></p> 
                            <p class="card-text">Hood Administrator Contact: <small class="text-muted">{{hood.hood_admin.contact}}</small></p>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container bg-white">
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'post-business' hood.id %}" class="btn btn-sm mb-4 mr-4" style="background-color: #57652a; color: #ffffff;">Post New Business</a>
                <a href="{% url 'create-update' hood.id %}" class="btn btn-sm mb-4" style="background-color: #57652a; color: #ffffff;">Create a Hood Update</a>

                {% if hood.hood_admin == user.profile %}
                <a href="{% url 'hood-residents' hood.id %}" class="btn btn-sm mb-4 ml-4" style="background-color: #57652a; color: #ffffff;">See All Hood Residents</a>
                {% endif %}
                
                <form class="form-inline mb-4" method="get" action="{% url 'search-business' %}">
                    {% csrf_token %}

                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2 " type="text" placeholder="Search Business" name="title" aria-label="Search">
                    </div>
                </form>


                
                <h5 class="D-block mx-auto">Hood Businesses</h5>
                <hr>
                <div class="row">
                    
                    {% for business in businesses %}
                    <div class="col-md-3">
                        <div class="card profile-card-2 mb-2" style="min-height: 450px;">
                            <div class="card-img-block">
                                <img class="img-fluid" src="{{business.business_logo.url}}" alt="business image" style="width: 300px; height: 200px;">
                            </div>
                            <div class="card-body pt-2"> 
                                <h6 class="card-title">{{business.business_name}}</h6>
                                <p class="card-text">{{business.business_description}}</p>
                                <img src="{{business.business_owner.profile_picture.url}}" class="rounded-circle" width="40" height="40" alt="profile-image"/> 
                                <p class="card-text">Business Owner: <small class="text-muted">{{business.business_owner.full_name|title }}</small></p> 
                                <div class="icon-block"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <hr>
                
                </div>



                <h5 class="D-block mx-auto">Hood Updates</h5> 
                <div class="row">

                    {% for update in updates %}
                    <div class="col-md-3">
                        <div class="card mb-4" style="min-height: 300px;">
                            <div class="card-body">
                                <h6 class="card-title">{{update.title}}</h6>
                                <p class="card-text">"{{update.details}}"</p> <br>
                                <p class="card-text text-muted">Posted by: <small>{{update.user.full_name|title }}</small></p> 
                                <p class="card-text text-muted"><small>{{update.posted|timesince}} ago</small></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                
                </div>
                <hr>
            </div>
        </div>
    </div>
</div> 
{% endblock %}